<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout disableAnsi="false" pattern="[%d{HH:mm:ss}] %highlight{%-5level}{FATAL=red blink, ERROR=red, WARN=yellow bold, INFO=gray, DEBUG=cyan bold, TRACE=green} - %highlight{%msg%n}{FATAL=red blink, ERROR=red, WARN=yellow bold, INFO=gray, DEBUG=cyan bold, TRACE=green}"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="ALL">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>